/**
 * @name Timestamp Tweaks
 * @author Wolfÿ
 * @version 1.0.1-Alpha
 * @description Collection of a few timestamp tweaks to make your daily discord usage more user-friendly
 * @invite avia
 * @source https://github.com/MEWPASCO/rainbowglow-avatars
 * @website https://www.avariaxyz.win/
 */

:root{
  /* to find your hsl value, visit https://hslpicker.com/#00ff00 - the / <number> in the hsl code refers to the opacity */
    --timestamp-border-color: hsl(120 100% 50% / 100%); 

/* Improved Timestamp visibility */
._752971923a1e6683-timestamp {
  border: 2px solid;
  border-color: var(--timestamp-border-color);
  border-radius: 8px;
  font-size: smaller;
}
._752971923a1e6683-timestamp::before {
  content: "🕔";
  margin-left: -2px;
  display: inline-block;
}
._752971923a1e6683-timestamp::after {
  content: "";
  margin-right: 2px;
}
}


/* Reveal full timestamp when hovering the message */
/* Unhide Discord's SR-only full timestamp */
.c19a557985eb7793-timestamp > [class^="hiddenVisually_"] {
  all: unset;
  display: none;
}

/* Display on message hover */
[role="article"]:hover .c19a557985eb7793-timestamp > [class^="hiddenVisually_"] {
  display: inline;
  margin-left: 2px;
  font-size: 0.625rem;
  color: var(--text-muted);
  white-space: nowrap;
}

/* Add ( and ) */
.c19a557985eb7793-timestamp > [class^="hiddenVisually_"]::before { content: " ("; }
.c19a557985eb7793-timestamp > [class^="hiddenVisually_"]::after  { content: ")"; }

/* Color the "edited" timestamp for better visibility */
[role="article"]:hover .c19a557985eb7793-timestamp:has(.c19a557985eb7793-edited) > [class^="hiddenVisually_"] {
  color: #ff00a6 !important;   /* custom color */
}
